*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f6f6f6;
}

body,h1,h2,input,button{
  font-family: 'Courier New', Courier, monospace;
} 

.head{
  background-color: papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head h1{
  padding: 10px;
  
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input , .form button{
  width: 200px;
  height: 30px;
  border: 1px solid #888;
  padding: 0 10px ;
  margin: 10px 5px;
}

.form button{
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.posts{
 margin: auto;
 text-align: center;
}
.post{
  width: 40%;   
  background-color: #ffff;
  border: 1px solid #666;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

.post button{
  width: 150px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}